#root {
  margin: 0 auto;
}

.page-content-container {
  width: 100%;
  min-height: 100%;
  padding-top: 0.5em;
  background-color: rgba(37, 16, 42, 0.5);
  fill-opacity: 0.9;
  fill: white;
  overflow-y: hidden;
}

.app {
  border-left: 1px solid white;
  border-right: 1px solid white;
  max-width: 1200px;
  width: 80vw;
}
